# Environment & secrets
.env
.env.*

# Java / Maven
**/target/
**/*.class
**/data/
**/*.mv.db
**/*.trace.db

# IDEs
.idea/
*.iml
*.iws
.vscode/
out/

# Python / ML
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.ipynb_checkpoints/
**/Resume.csv

# Logs & temp
*.log
hs_err_pid*

# OS
.DS_Store
Thumbs.db
Desktop.ini
